@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* root 16px * 0.625 == 10px*/
}

body {
  height: 100vh;
  font-family: 'poppins', sans-serif;
}

.container {
  width: 1, 440px;
  height: 2, 051px;
  top: 563px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 24px 102px;
}

.product {
  display: inline-block;
  width: 385px;
  height: 445px;
  /* border: 1px solid #000; */
  margin: 12px;
}

/* .img {
  width: 285px;
  height: 300px;
  overflow: hidden;
} */

img {
  width: 385px;
  height: 385px;
  display: block;
}

.info {
  display: flex;
}

.text {
  width: 385px;
  height: 60px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

h4 {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.detail {
  color: #757575;
  font-size: 16px;
}

.price_tag {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 16px;
  color: #111111;
}
