@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // root 16px * 0.625 == 10px
}

body {
  height: 100vh;
  font-family: 'urbanist', sans-serif;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
}

.hero {
  width: 700px;
  height: 874px;
}

.text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 443px;
  height: 430px;
  top: 222px;
  left: 822px;
  gap: 28px;
}

.text-info h1 {
  font-size: 48px;
  color: #29005f;
}

.text-info p {
  font-size: 18px;
}

form {
  display: flex;
}

input {
  margin: 2px;
}

.submit {
  font-size: 16px;
  width: 135px;
  height: 44px;
  color: #fff;
  background-color: #29005f;
  padding: 0px 48px 0px 48;
  border-radius: 5px;
  border: none;
}

.text {
  width: 302px;
  height: 44px;
  font-size: 20px;
  border-radius: 5px;
  border: 1.5px solid #29005f;
}

::placeholder {
  color: #d4d4d4;
  padding: 8px;
}
